@use '../../../styles.scss' as styles;

.burger-modal {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
 

  .burger-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
    width: 25%;
    align-items: center;
    background: black;
    transition: transform 0.3s ease-in-out;

    .burger-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      height: 80px;

      .header-logo {
        display: flex;
        align-items: center;

        .logo {
          width: 40px;
          height: 40px;
        }
      }

      .close-icon {
        width: 30px;
        height: 30px;
        margin-left: 20px;
      }

      .title {
        font-family: "Gloria Hallelujah";
        font-size: 25px;
        padding-left: 10px;
        white-space: nowrap;
      }
    }

    .line-divider {
      // border-bottom: 1px white solid;
      width: 100%;
    }

    .burger-list {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        margin-top: 20px;
      }

      ul {
        margin-top: 20px;
        text-align: center;

        li {
          list-style: none;
          padding: 5px;

          .nav-links {
            color: white;
            text-decoration: none;
            padding: 0.5rem 1.2rem;

            &:hover {
              @include styles.make-text-color-gold;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .burger-modal {
    .burger-main {
      width: 100%;
    }
  }
}

@media screen and (min-width: 750px) and (max-width: 1060px) {
  .burger-modal {
    .burger-main {
      width: 40%;
    }
  }
}
