.notification-container {
	font-size: 14px;
	box-sizing: border-box;
	position: fixed;
	z-index: 2;

  .notification {
    background: #fff;
    transition: .3s ease;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin-bottom: 15px;
    width: 300px;
    border: 1px black solid;
    border-radius: 3px;
    box-shadow: 0 0 10px #999;
    color: #000;
    background-position: 15px;
    background-repeat: no-repeat;

    img {
      width: 14px;
      height: 14px;
    }
  }

  
  .toast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 365px;
    color: black;
    padding: 20px;
  }

  .notification-message {
    margin: 0;
    color: black;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  
}

.top-right {
	top: 40px;
	right: 12px;
	transition: transform .6s ease-in-out;
	animation: toast-in-right .7s;
}

.top-middle {
  top: 80px;
  transition: transform .6s ease-in-out;
	animation: toast-in-top .7s;
}

.bottom-right {
	bottom: 12px;
	right: 12px;
	transition: transform .6s ease-in-out;
	animation: toast-in-right .7s;
}

.top-left {
	top: 40px;
	left: 12px;
	transition: transform .6s ease-in;
	animation: toast-in-left .7s;
}

.bottom-left {
	bottom: 12px;
	left: 12px;
	transition: transform .6s ease-in;
	animation: toast-in-left .7s;
}



.notification-title {
	font-weight: 700;
	font-size: 16px;
	text-align: left;
  width: 300px;
}


@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	  
	}
	to {
	  transform: translateX(0);
	}
}

@keyframes toast-in-left {
	from {
		transform: translateX(-100%);
		
	}
	to {
		transform: translateX(0);
	}
}

@keyframes toast-in-top {
	from {
	  transform: translateY(100%);
	  
	}
	to {
	  transform: translateY(0);
	}
}