.address-card {
  background-color: white;
  color: black;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;

  .default-address {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      background-color: black;
      color: white;
      padding: 10px;
      outline: none;
      font-family: "poppins", sans-serif;
      border-radius: 5px;
    }
    h3 {
      margin-bottom: 5px;
    }
  }
}
