@use "../../../../styles.scss" as styles;

.order-main {
  display: flex;
  color: black;
  flex-direction: column;
  font-size: 16px;

  .card-main {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1px black solid;
    margin: 10px 0 10px 0;

    .order-title {
      font-weight: 600;
      margin-bottom: 5px;
    }

    .card-top {
      display: flex;
      justify-content: space-between;

      .order-image {
        width: 100px;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 10px;
        }
      }
    }

    .card-bottom {
      display: flex;
      height: 150px;
      justify-content: space-between;
      margin: 20px 0 20px 0;

      .address-section {
        height: 100%;
        display: flex;
        flex-direction: column;

        .address-content {
        }
      }

      .price-section {
        // text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;

        .price-details {
          width: 250px;
          display: flex;
          justify-content: space-between;

          li {
            list-style: none;
          }
        }

        .price-title,
        .price {
          display: flex;
          flex-direction: column;
        }

        .price {
          align-items: flex-end;
        }
      }
    }
  }

  // .subtitle-size {
  //   font-size: 15px;
  // }
}

@media screen and (max-width: 500px) {
  .order-main {
    .card-main {
      .order-title {
        white-space: pre-wrap;
        //width: 50px;
      }

      .card-top {
        display: flex;
        // flex-direction: column-reverse;
        
        .order-details {
          // border: 2px green solid;
        }

        .order-image {

          width: 200px;
          height: 150px;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 10px;
          }
        }
      }
      .card-bottom {
        flex-direction: column;
        .address-section {
          // flex-direction: row;
          justify-content: space-between;
          margin-bottom: 10px;

          .address-content {
            // display: flex;
            flex-wrap: wrap;
            width: 100%;
          }
        }

        .price-section{
          display: none;
        }
      }
    }
  }
}
@media screen and (min-width: 500px) and (max-width: 850px) {
  .order-main {
    .card-main {
      .card-bottom {
        .price-section{
          .price-details {
            width: 200px;
          }
        }
      }
    }
  }
  
}
