.my-account {
  .card-content {
    color: black;
    display: flex;
    width: 100%;
    border: 2px white 2px;
    justify-content: space-evenly;

    .card-element {
      background-color: white;
      width: 200px;
      height: 100px;
      margin: 20px;
      padding: 20px;
      text-align: center;
    }
  }
}
