
@mixin make-text-color-gold {
  background: -webkit-radial-gradient(#f2e205, #d99e32, #d98723);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}


.my-account {
 padding: 30px;
  
  .welcome-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    font-size: 18px;
    background-color: black;
    border-radius: 5px;

    span {
      // @include make-text-color-gold();
      padding-right: 10px;
    }

    .username {
      text-transform: capitalize;
      margin-bottom: 10px;
    }
  }

  .card-content {
    color: black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;


    .card-element {
      background-color: black;
      color: white;
      width: 200px;
      margin: 20px;
      padding: 25px;
      text-align: center;
      border-radius: 5px;
      display: flex;
      flex-direction: column;

      .card-title {
        font-size: 20px;
        // @include make-text-color-gold();
      }


      .display-number {
        margin-top: 10px;
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 400px) {
  .my-account {
    .welcome-user {
      font-size: 16px;

      .email {
        max-width: 300px;
      }
    }
  }
}
