.slider {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  .arrows {
    width: 30px;
    height: 30px;
    margin: 20px;

    &:active {
      transform: scale(0.90);
      transition: 0.2s;
    }
  }

  .slides {
    width: 300px;
    height: 400px;
    position: relative;

    .slide {
      opacity: 0;
      transition-duration: 1s ease;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  
      .product-image {
        width: 300px;
        height: 400px;
        object-fit: contain;
        border-radius: 10px;
      }
    }

    
    .active {
      opacity: 1;
      transition-duration: 1s;
      transform: scale(1.05);
    }
  }
}

.ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  
  }

  .active {
    background-color: white;
  }

}






// @media screen and (max-width: 600px) {
//   .left-arrow {
//     left: -75%;
//   }
//   .right-arrow {
//     right: -75%;
//
