.search-main {
  display: flex;
  align-items: center;
  position: relative;

  input[type="text"] {
    width: 300px;
    padding: 10px;
    outline: none;
    padding-left: 10px;
    border-radius: 20px;
    border: 0;
  }
  .search-icon {
    width: 16px;
    height: 16px;
    margin: 0 8px 0 8px;
  }

  .search-result {
    position: absolute;
    top: 40px;
    left: -40px;
    list-style: none;
    text-align: start;
    width: 400px;
    max-height: 350px;
    overflow-y: scroll;
    background: white;
    z-index: 2;
    padding: 5px;
    overflow: auto;

    li {
      margin-bottom: 10px;
      
    .dropdown-search-items {
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100px;
      font-size: 14px;
      color: black;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: lightgrey;
      }

      &:active {
        background-color: grey;
      }
    }

    }

  }
}
